<div class="container">
   <div [hidden]= "loggedIn">
      <mat-toolbar>
      <div class="title-center">
            <span style="font-weight: bold;">Login</span>
      </div>
      </mat-toolbar>
      <div class="main-div">
      <mat-card class="my-card">
         <mat-card-content>
            <form class="my-form" (ngSubmit)="onSubmit()">
               <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input type="text" matInput [(ngModel)]="credential.username" name="username" id='username' placeholder="Your Username">
               </mat-form-field>
               <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" matInput [(ngModel)]="credential.password" name="password" id='password' placeholder="Your Password">
               </mat-form-field>
               <button type="submit" mat-raised-button color="primary">LOGIN</button>
            </form>
         </mat-card-content>
      </mat-card>
      </div>
   </div>
   <div [hidden]="!loggedIn">
      <h2>You are logged in!</h2>
   </div>
</div>