<div class="container">

  <div class="card bg-light">

      <article class="card-body mx-auto" style="max-width: 400px;">
        <h4 class="card-title mt-3 text-center">Creat Free Account</h4>
        <div class="alert alert-info" *ngIf="emailSent">An email has been sent to the email address you just registered. Please validate your email adderss and update your password info.</div>

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input type="text" class="form-control" placeholder="First Name" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel" required />
            <div *ngIf="f.submitted && firstname.invalid">
                <div *ngIf="firstname.errors.required">First Name is required</div>
            </div>
          </div> <!-- form-group// -->

          <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
              </div>
              <input type="text" class="form-control" placeholder="Last Name" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel" required />
              <div *ngIf="f.submitted && lastname.invalid">
                  <div *ngIf="lastname.errors.required">Last Name is required</div>
              </div>
            </div> <!-- form-group// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="form.username" #username="ngModel" required minlength="3" />
          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.minlength">Password must be at least 6 characters</div>
          </div>
          </div> <!-- form-group// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
            <div *ngIf="f.submitted && email.invalid">
              <div *ngIf="email.errors.required">Email is required</div>
              <div *ngIf="email.errors.email">Email must be a valid email address</div>
            </div>
          
          </div> <!-- form-group// -->

          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="form.password" #password="ngModel"
            required minlength="6" />
            <div *ngIf="f.submitted && password.invalid">
              <div *ngIf="password.errors.required">Password is required</div>
              <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </div> <!-- form-group// -->

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Submit </button>
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
                Signup failed!<br/>{{errorMessage}}
              </div>
          </div> <!-- form-group// -->

        </form>

      </article>
 
  </div> <!-- card.// -->

</div>
<!--container end.//-->